<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body class="theme-base-gray">

	{% include sidebar.html %}

	<div class="content container">
		{{ content }}
	</div>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-37275064-1']);
		_gaq.push(['_setDomainName', 'raghavsethi.org']);
		_gaq.push(['_trackPageview']);

		if (document.URL.indexOf('princeton') == -1) {
			(function () {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		}
	</script>

	<script>
		var initOpts = {
			projectKey: "U9Ak3stzlWexoB6qbcaj",
			ingestPoint: "https://openreplay.raghavsethi.com/ingest",
			defaultInputMode: 2,
			obscureTextNumbers: false,
			obscureTextEmails: true,
		};
		var startOpts = { userID: "" };
		(function (A, s, a, y, e, r) {
			r = window.OpenReplay = [e, r, y, [s - 1, e]];
			s = document.createElement('script'); s.src = A; s.async = !a;
			document.getElementsByTagName('head')[0].appendChild(s);
			r.start = function (v) { r.push([0]) };
			r.stop = function (v) { r.push([1]) };
			r.setUserID = function (id) { r.push([2, id]) };
			r.setUserAnonymousID = function (id) { r.push([3, id]) };
			r.setMetadata = function (k, v) { r.push([4, k, v]) };
			r.event = function (k, p, i) { r.push([5, k, p, i]) };
			r.issue = function (k, p) { r.push([6, k, p]) };
			r.isActive = function () { return false };
			r.getSessionToken = function () { };
		})("//static.openreplay.com/15.0.0/openreplay.js", 1, 0, initOpts, startOpts);
	</script>
</body>

</html>